{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>Login your account</h2>
            <p>Write yours or Read others</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary btn-lg" >
                    Login
                </button>
            </div>
        </form>
        <div class="login-footer">
            <p class="text-center">
                If you dont have an account ?
            <a href="#" class="text-decoration-none fw-bold">Register</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}